body {
    width: 1920px;
    height: 1080px;
}

.nav {
    /* Ancho del 100% de la pantalla */
    width: 100%;
    /* No ocultar el menu cuando bajo */
    position: fixed;
    /* Elevo el menu en una capa sobre los elementos */
    z-index: 100;
    background-color: #212529dc;
}

.nav-link {
    color: rgb(180, 180, 180);
}

.nav-link:hover {
    color: #fff;
}

.iconos-control {
    width: 50px;
    margin: 0 25px 0 25px;
}

#menu-control {
    /* Ancho del 100% de la pantalla */
    width: 100%;
    /* No ocultar el menu cuando bajo */
    position: absolute;
    top: 1000px;
    z-index: 100;
}

#contenido-control {
    width: 350px;
    display: flex;
    flex-flow: wrap nowrap;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}


/* Opciones de respuesta */

#Botones-opciones {
    width: 1920px;
    height: 1080px;
    position: absolute;
}

.opciones-respuesta {
    position: absolute;
    /*width: 200px;
    height: 200px;
    max-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0);*/
}

#opcion1-1 {
    top: 735px;
    left: 200px;
    /*background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-2 {
    top: 810px;
    left: 1350px;
    /* background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-3 {
    top: 100px;
    left: 1595px;
    height: 700px;
    /* background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-4 {
    top: 850px;
    left: 1655px;
    /* background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-5 {
    top: 740px;
    left: 1050px;
    /* background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-6 {
    top: 170px;
    left: 350px;
    /* background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-7 {
    top: 670px;
    left: 570px;
    /* background-image: url(assets/img/EL_CILINDRO.jpg);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center; */
    display: none;
    cursor: pointer;
}

#opcion1-1:hover {
    content: url("assets/img/Claros/ObjRecurso 2.png");
}

#opcion1-2:hover {
    content: url("assets/img/Claros/ObjRecurso 3.png");
}

#opcion1-3:hover {
    content: url("assets/img/Claros/ObjRecurso 5.png");
}

#opcion1-4:hover {
    content: url("assets/img/Claros/ObjRecurso 8.png");
}

#opcion1-5:hover {
    content: url("assets/img/Claros/ObjRecurso 7.png");
}

#opcion1-6:hover {
    content: url("assets/img/Claros/ObjRecurso 6.png");
}

#opcion1-7:hover {
    content: url("assets/img/Claros/ObjRecurso 1.png");
}

#vida-intentos {
    position: absolute;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: space-between;
    top: 4%;
    left: 1%;
}

.intentos {
    width: 100%;
    max-width: 50px;
    margin: 10px;
}

#puntaje-trofeos {
    position: absolute;
    display: flex;
    flex-flow: wrap nowrap;
    justify-content: space-between;
    top: 12%;
    left: 2%;
}

#puntaje-trofeos h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trofeo {
    width: 100%;
    max-width: 50px;
    margin: 10px;
}